.cb{
    display:inline-block;
    margin-right:3px;
    width:12px;
    height:12px;
    background:#eee;
    border:1px solid #999;
    border-radius:1px;
    transition:background 0.7 linear;
    cursor:pointer; 
}